In [20]:
from collections import Counter
import os
import pandas as pd
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords
from functions import remove_stopwords

texts = []
textnames = []
folder = '/srv/data/EPtuningTexts'
for file in os.listdir(folder):
    path = os.path.join(folder,file)
    f = open(path,'r')
    data = f.readlines()[0]
    texts.append(data)
    name = file.split('.')[0]
    textnames.append(name)
    f.close()
 
tokenized = []
for text in texts:
    words = []
    text = text.split(' ')
    #tokenize roughly by white space, can update later
    list = remove_stopwords(text)
    for word in list:
        if len(word) != 0:
            words.append(word[0].lower())
    #TODO: smarter way of getting a list of words while still using remove method?
    tokenized.append(words)

wordcounts = [Counter(t) for t in tokenized]
df = pd.DataFrame(wordcounts, index=[name for name in textnames]).fillna(0)

In [3]:
# using transformer, generate table to compare tf-idfs across multiple texts
basetext = input("input the TCP ID of the text you'd like to sort by: ")
# normalization turned off
# sublinear term frequency scaling turned on (takes log of term frequencies and can help to de-emphasize function words like pronouns and articles.
tfidf = TfidfTransformer(norm=None, sublinear_tf=True)
results = tfidf.fit_transform(df)

table = pd.DataFrame(results.toarray(), index=df.index, columns=df.columns)

# columns are texts
# use .head(30) to show only the top 30 terms
# sort using words with highest tfidf scores in A01932 as an example
table.T.sort_values(by=[basetext], ascending=False).head(25)

,A01932,A02495,A03149,A04813,A07886,A10821,A12458,A12460,A12466,A13290,...,A66847,A68617,A69149,A71305,A71306,A71307,A77422,A83297,B00052,B00963
aᵒ,0.0,0.000000,21.431536,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
boterus,0.0,0.000000,16.088661,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
gules,0.0,0.000000,14.827404,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,3.197225,0.0,0.0,0.0,0.0
sleid,0.0,0.000000,14.738756,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
brandenbourg,0.0,0.000000,14.015802,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
lorreine,0.0,0.000000,14.015802,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
anᵒ,0.0,0.000000,13.591466,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
guicciard,0.0,0.000000,13.358954,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
rodolphus,0.0,0.000000,13.358954,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
savus,0.0,0.000000,13.110394,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
sleidan,0.0,0.000000,13.110394,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
munster,0.0,12.671741,13.106608,0.0,0.0,5.255088,0.0,0.0,0.0,0.0,...,0.0,5.975466,0.0,0.000000,5.975466,0.000000,0.0,0.0,0.0,0.0
bara,0.0,6.106002,13.082780,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,6.106002,0.0,0.0,0.0,0.0
alphonso,0.0,5.637710,12.912613,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,7.009991,0.0,0.000000,0.000000,4.548469,0.0,0.0,0.0,0.0
pyrenean,0.0,0.000000,12.843406,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
antigonus,0.0,0.000000,12.775253,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,3.197225,0.0,0.0,0.0,0.0
adrianus,0.0,0.000000,12.775253,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,3.197225,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
camden,0.0,7.499780,12.662535,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,4.548469,0.0,0.000000,8.589021,0.000000,0.0,0.0,0.0,0.0
saxony,0.0,5.975466,12.628191,0.0,0.0,8.269929,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,4.239772,0.000000,6.534234,0.0,0.0,0.0,0.0
grimston,0.0,3.197225,12.611257,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
paradin,0.0,0.000000,12.555037,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
genoy,0.0,0.000000,12.555037,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
frederick,0.0,7.984805,12.399779,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,5.607617,0.0,3.978772,2.349927,9.504331,0.0,0.0,0.0,0.0
florus,0.0,4.926284,12.389113,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,2.909543,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
luxenbourg,0.0,0.000000,12.241562,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
exarch,0.0,0.000000,12.241562,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
sertorius,0.0,0.000000,12.241562,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
capet,0.0,0.000000,12.241562,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
macrinus,0.0,0.000000,12.241562,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
catelogne,0.0,0.000000,12.241562,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0

In [19]:
# transformer version, but outputting tf-idf values for a single text, easier viewing

dataset = []
for text in tokenized:
    dataset.append(' '.join(text))

transformer = TfidfTransformer(norm=None, sublinear_tf=True, use_idf=True)
cv = CountVectorizer()
wc = cv.fit_transform(dataset)
wctrans = transformer.fit_transform(wc)

#think about wctrans[] indexing in this line? hard to tell which text to index as??
single = pd.DataFrame(wctrans[2].T.todense(), index=cv.get_feature_names_out(), columns=[basetext + " TF-IDF"])
single = single.sort_values(basetext + ' TF-IDF', ascending=False)

print (single.head(25))

              A03149TF-IDF
aᵒ               21.431536
boterus          16.088661
gules            14.827404
sleid            14.738756
brandenbourg     14.015802
lorreine         14.015802
anᵒ              13.591466
guicciard        13.358954
rodolphus        13.358954
sleidan          13.110394
savus            13.110394
munster          13.106608
bara             13.082780
alphonso         12.912613
pyrenean         12.843406
adrianus         12.775253
antigonus        12.775253
camden           12.662535
saxony           12.628191
grimston         12.611257
paradin          12.555037
genoy            12.555037
frederick        12.399779
florus           12.389113
luxenbourg       12.241562